<div class="menu_acciones">
	<div class="titulo">Acciones</div>
	<ul>
		<% if session[:usuario].es_opartes?  %>
		<li><%= link_to 'entrada', :controller => 'entrada' %>
		<li><%= link_to 'guias', :controller => 'guias' %>	
		<li><%= link_to 'archivo', :controller => 'archivo' %>	
		<li><%= link_to 'personal', :controller => 'personal' %>
		<li><%= link_to 'enviados', :controller => 'enviados' %>
		<% end %>
		<li><%= link_to 'mi buzón', :controller => 'propio' %>
		<% if session[:usuario].ingresa_papel?  %>
		<li><%= link_to 'ingreso papel', :controller => 'salida' %>
		<% end %>
		<% if session[:usuario].es_editor?  %>
		<li><%= link_to 'ingreso digital', :controller => 'borrador' %>
		<% end %>
		<% if session[:usuario].es_firmante?  %>
		<li><%= link_to 'para firma', :controller => 'firma' %>
		<% end  %>
		
		
		<li><%= link_to 'todos', :controller => 'todos' %>
		
		<li><%= link_to 'salir', logout_url %>	
	</ul>
</div>
